.main {
  @apply relative min-h-screen px-2 container md:mx-auto sm:px-2;
  max-width: 769px;
}

.container {
  @apply relative;
  background: var(--canvas-color);
}

.formContainer {
  /* @apply fixed max-w-max w-max flex-col; */
  @apply sticky max-w-full w-full items-center px-4 py-8 z-20;
  background: var(--canvas-color);
}

.last-border-0 > :last-child {
  border-width: 0 !important;
}

.formStateTitle {
  font-size: 0.6rem;
}

@media (min-width: 640px) {
  .formStateTitle {
    font-size: 1rem;
  }
}
